<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle class="content-bg-beige">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="content-bg-beige">Flor D'Lerma</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen class="page-items content-bg-beige">
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped($event, item.id, this.categoryId)" class="content-bg-beige">
      <ion-thumbnail item-start>
        <img item-start *ngIf="item.image_url" src="{{item.image_url}}" alt="Imagen del ítem"/>
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
    </ion-item>
  </ion-list>
  <!-- <ion-card *ngFor="let item of items" (click)="itemTapped($event, item.id, this.categoryId)">
    <img *ngIf="item.image_url" src="{{item.image_url}}" alt="Imagen del ítem"/>
    <ion-card-content>
      <ion-card-title>{{item.name}}</ion-card-title>
      <p>
        {{item.description}}
      </p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
