page-items {
  ion-header {
    backdrop-filter: blur(8px);
  }

  ion-navbar {
    opacity: 0.9;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
  }
  ion-card-title {
    color: map-get($colors, lila) !important;
    // font-weight: bold;
    font-size: 24px !important;
  }

  p {
    font-size: 14px !important;
  }

  img {
    width: 4em !important;
    height: 3em !important;
    border: 1px brown solid;
  }
}
