page-item-detail {
  ion-card {
    border-radius: 0px !important;
  }

  h1 {
    // border-right: brown 5px solid;
  }

  p {
    font-size: 18px;
    // border-left: brown 3px solid;
  }

  .contenido-titulo {
    padding-bottom: 0 !important;
  }

  .contenido-descripcion {
    // border: brown 3px solid;
  }
}
