<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle class="content-bg-beige">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="content-bg-beige">Flor D'Lerma</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen class="page-item-detail content-bg-beige">
  <img *ngIf="this.currentItem?.image_url" src="{{this.currentItem.image_url}}" alt="Imagen del ítem"/>
  <ion-grid>
    <ion-row no-margin no-padding>
      <ion-col text-left padding-horizontal margin-horizontal>
        <h1>{{this.currentItem?.name}}</h1>
        <ion-icon name="pricetag"></ion-icon> {{this.currentItem?.category.name}}
        <p *ngIf="this.currentItem?.price != 0 && this.currentItem?.price != undefined">
          ${{this.currentItem.price}}
        </p>
        <p>
          {{this.currentItem?.description}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row no-margin no-padding>
      <ion-col text-justify padding-horizontal margin-horizontal class="border-descripcion">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
