page-categories {
  ion-header {
    backdrop-filter: blur(8px);
  }

  ion-navbar {
    opacity: 0.9;
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
  }

  ion-card {
    font-family: 'myriad-pro-regular';
  }

  ion-card-title {
    // color: brown !important;
    font-weight: bold;
    font-size: 26px !important;
  }

  img {
    height: 10em;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
}
