<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle class="content-bg-beige">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="content-bg-beige">Flor D'Lerma</ion-title>
  </ion-navbar>
</ion-header>


<ion-content fullscreen class="page-categories content-bg-beige">
  <ion-card *ngFor="let category of categories" (click)="categoryTapped($event, category.id)">
    <img *ngIf="category.image_url" src="{{category.image_url}}" alt="Imagen de la categoría"/>
    <ion-card-content>
      <ion-card-title>{{category.name}}</ion-card-title>
      <p>
        {{category.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
