<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="content-bg-beige">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-bg-beige">
    <ion-list class="sidemenu-navbar">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="content-bg-beige">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
