// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'lucida-handwriting-italic';
  src: url('../../fonts/LucidaHandwritingItalic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'myriad-pro-regular';
  src: url('../../fonts/MyriadPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

ion-header {
  backdrop-filter: blur(8px);
}

ion-navbar {
  opacity: 0.9;
  box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
}

ion-header ion-navbar button ion-icon {
  color: black !important;
}

ion-content {
  font-family: 'myriad-pro-regular';
}

ion-card {
  // border-radius: 25px !important;
}

.toolbar {
  border-bottom: 3px white solid;
}

.toolbar-background {
  background-color: #F8F7D3;
}

.toolbar-title {
  font-family: 'lucida-handwriting-italic';
}

.content-bg-beige {
  background-color: #F8F7D3;
}

.content-bg-lila {
  background-color: #C2B3D0;
}

.sidemenu-navbar {
  button {
    font-family: 'myriad-pro-regular';
    color: black;
    font-size: 18px;
  }
}
